.imgClinic {
    display: flex;
    flex-direction: column;
}

.btnContainer {
    display: flex;
    align-items: center;
}

.btnn {
    display: flex;
    align-items: center;
    margin: 20px auto;
    justify-content: center;
}