
.imgg{
    height: fit-content;
    text-align: center;
    display: flex;
    padding: 10px 0;

   .subBlock{
        width: 94%;
        height: 94%;
        border: 1px solid;
        margin: 0 auto;
        padding-top: 7px;

    .iii{
        border: 1px solid;
        width: 150px;
        height: 150px;
        margin: 0 auto;
        border-radius: 50%;
    }
   }
}