.footerCont {
    color: green;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    padding: 50px 20px;
    margin: 20px 0;
    border: 1px solid green;
}